# Ignore everything
*
!.gitignore
!scope-cli/
!scope-cli/**
!rust-best-practices/
!rust-best-practices/**
!storybook/
!storybook/**
!scope-api/
!scope-api/**
!resilience/
!resilience/**
!typescript/
!typescript/**
!cosmosdb-mongodb/
!cosmosdb-mongodb/**
!documentation/
!documentation/**
!vscode-electron-worker/
!vscode-electron-worker/**
!license-headers/
!license-headers/**
!third-party-notice/
!third-party-notice/**
!inclusive-language/
!inclusive-language/**
!responsible-ai/
!responsible-ai/**